html body {

    background-color: #5979a7;
    /* background-image: url(stars\ images.webp);
    background-repeat: repeat;
    background-size: 200px; */
  }


  .navbarSupportedContent{

    float: right;
    background-color: #04AA6D;
    color: white;
  }

  

